<app-detail *ngIf="selectedClient" [client]="selectedClient"></app-detail>

<div class="card card-border-light mb-3">
    <h3 class="card-header text-center">Clients</h3>
    <div class="card-body text-primary">
        <h2 class="card-title">Clients List</h2>
    <div class="text-center">
        <button *ngIf="loginService.hasRole('ROLE_USER')" [routerLink]="['/clients/form']" class="btn btn-rounded btn-primary mb-2" type="button">Create client</button>
    </div>
    <div *ngIf="clients?.length==0" class="alert alert-info">
        There are no records in the database
    </div>
        <table class="table table-bordered table-striped" *ngIf="clients?.length>0">
            <thead class="text-primary" class="text-center">
                <tr>
                    <th *ngIf="loginService.hasRole('ROLE_USER')"></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th *ngIf="loginService.hasRole('ROLE_ADMIN')">Create Invoice</th>
                    <th *ngIf="loginService.hasRole('ROLE_ADMIN')">Edit</th>
                    <th *ngIf="loginService.hasRole('ROLE_ADMIN')">Delete</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let client of clients">
                    <td *ngIf="loginService.hasRole('ROLE_USER')"> 
                        <img (click)="openModal(client)" style="cursor:pointer" *ngIf="client?.photo" src="http://localhost:8080/api/clients/upload/img/{{client.photo}}" width="64px" height="64px" class="img-thumbnail rounded"/>
                        <img (click)="openModal(client)" style="cursor:pointer" *ngIf="!client?.photo" src="http://localhost:8080/images/default.png" width="64px" height="64px" class="img-thumbnail rounded"/>
                    </td>
                    <td>{{client.firstName }}</td> <!--<td>{{client.firstName || uppercase }}</td> para formatear dentro de la plantilla y no en el component--> 
                    <td>{{client.lastName}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.createAt}}</td><!--<td>{{client.firstName || date: "EEEE d, MMMM yyyy" }} -->
                    <td *ngIf="loginService.hasRole('ROLE_ADMIN')"><button type="button" name="button" [routerLink]="['/invoices/form',client.id]" class="btn btn-success">Create</button></td>
                    <td *ngIf="loginService.hasRole('ROLE_ADMIN')">
                        <button type="button" name="button" [routerLink]="['/clients/form',client.id]" class="btn btn-warning">Edit</button>
                    </td>
                    <td *ngIf="loginService.hasRole('ROLE_ADMIN')">
                        <button type="button" name="button" (click)="delete(client)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
            <!-- Por tema asincrono hay que validar que exista ese paginator con ngIf-->
            <app-paginator *ngIf="paginator" [paginator] = "paginator"></app-paginator>
  </div>
