<div class="d-flex justify-content-center">

    <ul *ngIf="pages?.length>0" class="pagination">
    
        <li [ngClass]="paginator.first?'disabled page-item':'page-item'">
            <a class="page-link mx-1" [routerLink]="[url,0]" [queryParams]="params">First Page</a>
        </li>
    
        <li class="page-item" *ngIf="!paginator.first">
            <a class="page-link" [routerLink]="[url,paginator.number-1]" [queryParams]="params">&laquo;</a>
        </li>
    
        <li *ngFor="let pageNum of pages" class="page-item" [ngClass]="pageNum-1 === paginator.number?'disabled':''">
            <a *ngIf="pageNum-1 === paginator.number" class="page-link text-white bg-primary" [routerLink]="[url,pageNum-1]" [queryParams]="params">{{pageNum}}</a>
            <a *ngIf="pageNum-1 !== paginator.number" class="page-link" [routerLink]="[url,pageNum-1]" [queryParams]="params">{{pageNum}}</a>
        </li>
    
        <li class="page-item" *ngIf="!paginator.last">
            <a class="page-link" [routerLink]="[url,paginator.number+1]" [queryParams]="params">&raquo;</a>
        </li>
    
        <li [ngClass]="paginator.last?'disabled page-item':'page-item'">
            <a class="page-link mx-1" [routerLink]="[url,paginator.totalPages-1]" [queryParams]="params">Last Page</a>
        </li>
    </ul>
    </div>